<section class="bg-main-light p-5 rounded-3">
    <form [formGroup]="forget_form" (ngSubmit)="sendEmail()">
        <h1 class="m-2 h3 fw-bold">Please Enter Your Email To Send verification code !</h1>
        <div class="mb-2">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" #email id="email">
            <div class="alert alert-danger" *ngIf="(forget_form.get('email')?.touched||email.value.length>0)&&forget_form.get('email')?.errors" >
                <p *ngIf="forget_form.get('email')?.getError('required')">email is required</p>
                <p *ngIf="forget_form.get('email')?.getError('email')">email pattern is inavalid</p>
            </div>
        </div>
        <button class="btn btn-outline-success m-2"><i *ngIf="spincheak" class="fas fa-spin fa-spinner mx-1"></i>Send</button>
        <p class="alert alert-danger " *ngIf="apierror">{{apierror}}</p>
    </form>
</section>