<section class="bg-main-light p-5 rounded-3">
    <form [formGroup]="code_Form" (ngSubmit)="sendcode()">
        <h1 class="m-2 h3 fw-bold">Please Enter Your verification code</h1>
        <div class="mb-2">
            <label for="resetCode">resetCode</label>
            <input type="tel" class="form-control" formControlName="resetCode" #resetCode id="resetCode">
            <div class="alert alert-danger" *ngIf="(code_Form.get('resetCode')?.touched||resetCode.value.length>0)&&code_Form.get('resetCode')?.errors" >
                <p *ngIf="code_Form.get('resetCode')?.getError('required')">resetCode is required</p>
              
            </div>
        </div>
        <button class="btn btn-outline-success m-2"><i *ngIf="spincheak" class="fas fa-spin fa-spinner mx-1"></i>Send</button>
        <p class="alert alert-danger " *ngIf="apierror">{{apierror}}</p>
    </form>
</section>