<section class="bg-main-light w-75 mx-auto m-2 rounded-3 py-5">
    <div class="px-2 ">
        <div class="d-flex justify-content-between align-items-center p-2 mx-2">
            <h1 *ngIf="cartitem.length>0">Your Fav Products</h1>
        </div>
        <h2  *ngIf="cartitem.length==0" class="mx-auto m-auto" >Your Fav Products is empty</h2>
        <div  *ngIf="cartitem.length>0"  class="d-flex justify-content-between align-items-center p-2 mx-2">
            <p><span class="fw-bold">Total Number Of Items: </span> <span class="text-main">{{cartitem.length}}</span></p>
        </div>
    </div>
    <div class="row g-4">
        <div class="col-lg-3 col-md-6 col-sm-6 cursor-pointer" *ngFor="let item of cartitem ">
            <div class="product p-2">
                <div [routerLink]="['/details',item._id]">
                    <img [src]="item.imageCover" [alt]="item.title" class="w-100">
                <h1 class="h6">{{item.category.name}}</h1>
                <h2 class="h6">{{item.title.split(' ').slice(0,2).join(' ')}}</h2>
                <div class="d-flex justify-content-between align-items-center">
                    <span>{{item.price}} EGP</span>
                    <div>
                        <i [class.rating-color]="item.ratingsAverage>=num" *ngFor="let num of [1,2,3,4,5]" class="fas fa-star"></i>
                        <span class="mx-1">{{item.ratingsAverage}}</span>
                    </div>
                </div>
                </div>
             <div class="d-flex justify-content-between align-items-center">
                <button class="btn-main w-100" (click)="addbutton(item._id)">Add Product</button>
                <button  class="btn mt-1" (click)="removeProuWichList(item.id)"><i class="fa-solid fa-heart text-danger fa-2x h3"></i></button>

             </div>
            </div>
        </div>
    </div>
</section>