<section class="bg-main-light p-5 rounded-3">
    <form [formGroup]="changePassword_form" (ngSubmit)="sendData()">
        <h1>change Your Password</h1>
        <div class="mb-2">
            <label for="currentPassword">current Password</label>
            <input type="password" class="form-control" formControlName="currentPassword" #currentPassword id="currentPassword">
            <div class="alert alert-danger p-1" *ngIf="(changePassword_form.get('currentPassword')?.touched||currentPassword.value.length>0)&&changePassword_form.get('currentPassword')?.errors" >
                <p *ngIf="changePassword_form.get('currentPassword')?.getError('required')">currentPassword is required</p>
            </div>
        </div>
        <div class="mb-2">
            <label for="password">New Password</label>
            <input type="password" class="form-control" formControlName="password" #password id="password">
            <div class="alert p-1 alert-danger" *ngIf="(changePassword_form.get('password')?.touched||password.value.length>0)&&changePassword_form.get('password')?.errors" >
                <p *ngIf="changePassword_form.get('password')?.getError('required')">New Password is required</p>
                <p *ngIf="changePassword_form.get('password')?.getError('pattern')">New Password inValid</p>
            </div>
        </div>
        <div class="mb-2">
            <label for="rePassword">reNew Password</label>
            <input type="password" class="form-control" formControlName="rePassword" #rePassword id="rePassword">
            <div class="alert alert-danger p-1" *ngIf="(changePassword_form.get('rePassword')?.touched||rePassword.value.length>0)&&changePassword_form.get('rePassword')?.errors" >
                <p *ngIf="changePassword_form.get('rePassword')?.getError('required')">rePassword is required</p>
                <p *ngIf="changePassword_form.get('rePassword')?.getError('pattern')">rePassword inValid</p>
            </div>
        </div>
        <button class="btn btn-outline-success m-2"><i *ngIf="spincheak" class="fas fa-spin fa-spinner mx-1"></i>change</button>
        <p class="alert alert-danger " *ngIf="apierror">{{apierror}}</p>
    </form>
</section>